/*tabla en paralelo con css*/

* {
  box-sizing: border-box;
}

/* Create a two-column layout */
.column {
  float: left;
  width: 50%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.colores {
  color: red;/*color por nombre*/
  color: rgb(255, 224, 0); /*color por RGB*/
  color: rgba(255, 99, 71, 0); /*rgba( rojo, verde , azul, alfa )*/
  color: #ff6347;/*hexadecimal es en formato #rrggbb y si se repite el digito se puede acortar en #rgb*/
  color: hsl(0, 100%, 50%);/*hsl( tono , saturación , luminosidad )*/
  color: hsla(0, 100%, 50%, 0.5);/*hsla( tono, saturación , luminosidad, alfa )*/
}

.fondos {
  background-color:lightblue;/*color de fondo*/
  opacity: 0.3;/*opacidad/transparencia*/
  background-image: url("");/*propiedad especifica una imagen para usar como fondo de un elemento*/
  background-repeat: repeat-x;/*Si la imagen de arriba se repite sólo horizontalmente (repeat-y para vertical)*/
}
/*la imagen de fondo en la esquina superior derecha*/
.imagen {
  background-image: url("");
  background-repeat: no-repeat;
  background-position: right top;
}

/*la imagen de fondo debe ser fija*/
.imagen_fija {
  background-image: url("");
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: fixed;
}

/*la imagen de fondo debe desplazarse con el resto de la página*/
.image_desplaza {
  background-image: url("");
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: scroll;
}
/*en vez de escribir del modo tradicional se puede acortar codigo asi
body {
  background-color: #ffffff;
  background-image: url("");
  background-repeat: no-repeat;
  background-position: right top;
}*/
.reducir_codigo {
  background: #ffffff url("") no-repeat right top;
}

.bordes {
  p.dotted {border-style: dotted;} /*Define un borde punteado*/
  p.dashed {border-style: dashed;} /*Define un borde discontinuo*/
  p.solid {border-style: solid;} /*Define un borde sólido*/
  p.double {border-style: double;} /*Define un borde doble*/
  p.groove {border-style: groove;} /*Define un borde ranurado 3D. El efecto depende del valor del color del borde.*/
  p.ridge {border-style: ridge;} /*Define un borde estriado 3D. El efecto depende del valor del color del borde.*/
  p.inset {border-style: inset;} /*Define un borde 3D insertado. El efecto depende del valor del color del borde.*/
  p.outset {border-style: outset;} /*Define un borde inicial 3D. El efecto depende del valor del color del borde.*/
  p.none {border-style: none;} /*No define ninguna frontera*/
  p.hidden {border-style: hidden;} /*Define un borde oculto*/
  p.mix {border-style: dotted dashed solid double;}/*borde doble y solido*/
}

.ancho_borde1 {
  border-style: solid;
  border-width: 5px;
}

.ancho_borde2 {
  border-style: solid;
  border-width: medium;
}

.ancho_borde3 {
  border-style: dotted;
  border-width: 2px;
}

.ancho_borde4 {
  border-style: dotted;
  border-width: thick;
}

.bordes_laterales1 {
  border-style: solid;
  border-width: 5px 20px; /* 5px top and bottom, 20px on the sides */
}

.bordes_laterales2 {
  border-style: solid;
  border-width: 20px 5px; /* 20px top and bottom, 5px on the sides */
}

.bordes_laterales3 {
  border-style: solid;
  border-width: 25px 10px 4px 35px; /* 25px top, 10px right, 4px bottom and 35px left */
}

.borde_color {
  border-style: solid;
  border-color: red green blue yellow; /* red top, green right, blue bottom and yellow left */
}

.borde_abreviado {
  border: 5px solid red;
}

.borde_redondeado {
  border: 2px solid red;
  border-radius: 5px;
}

.margen_abreviado {
  margin: 25px 50px 75px 100px;/*top, right, left, down*/
  /*tambien se puede usar "margin:auto" y el "margin-bottom*/
}

.relleno {
  padding: 25px 50px 75px 100px;/*top, right, left, down*/
  /*puede ser longitud : especifica un relleno en px, pt, cm, etc.
    % - especifica un relleno en % del ancho del elemento contenedor
    heredar: especifica que el relleno debe heredarse del elemento padre*/
  width: 300px;/*ancho del elemento*/
  box-sizing: border-box;/*para mantener el ancho del elemento*/
  height: 300px/*altura del elemento*/
}

.alto_ancho {
  height: 200px;
  width: 50%;
  background-color: powderblue;
}
/*valores alto-ancho:
auto- Este es el valor predeterminado. El navegador calcula la altura y el ancho.
length- Define la altura/ancho en px, cm, etc.
%- Define la altura/ancho en porcentaje del bloque contenedor.
initial- Establece la altura/ancho a su valor predeterminado
inherit- La altura/ancho se heredará de su valor padre.*/

div {
  width: 300px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
}
/*Contenido : El contenido del cuadro, donde aparecen el texto y las imágenes.
Relleno : Limpia un área alrededor del contenido. El relleno es transparente.
Borde : un borde que rodea el relleno y el contenido.
Margen : Limpia un área fuera del borde. El margen es transparente.*/

.estilo_esquema {
  p.dotted {outline-style: dotted;}/*Define un contorno punteado*/
  p.dashed {outline-style: dashed;}/*Define un contorno discontinuo*/
  p.solid {outline-style: solid;} /*Define un contorno sólido*/
  p.double {outline-style: double;}/*Define un contorno doble*/
  p.groove {outline-style: groove;}/*Define un contorno ranurado en 3D*/
  p.ridge {outline-style: ridge;} /*Define un contorno estriado en 3D*/
  p.inset {outline-style: inset;} /*Define un contorno de inserción 3D*/
  p.outset {outline-style: outset;} /*Define un contorno de inicio en 3D*/
  /*none- No define ningún contorno
  hidden- Define un contorno oculto*/
}

/*Ancho del contorno
thin (typically 1px)
medium (typically 3px)
thick (typically 5px)
Un tamaño específico (in px, pt, cm, em, etc)*/

/*La outline-offset propiedad añade espacio entre el contorno y el borde de un elemento. El espacio entre un elemento y su contorno es transparente.*/

.alineacion_texto {
  text-align: center;/*puede ser tambien left, right, justificy*/
  text-align-last: right;/*alinear la última línea de un texto que puede ser left, right, center, justificy*/
  direction:rtl;/*para cambiar la dirección del texto de un elemento*/
  unicode-bidi:bidi-override;/*lo mismo que direccion*/
  vertical-align: baseline;/*alineación vertical de una imagen en un texto*/
}

.decorac_texto {
  text-decoration-line: overline;/*agregar una línea de decoración al texto.*/
  text-decoration-color: red;/*color de texto*/
  text-decoration-style: solid;/*estilo de la línea de decoración*/
  text-decoration-thickness: auto;/*el grosor de la línea de decoración.*/
}

.Mayusculas {
  text-transform: uppercase;/*para convertir todo en letras mayúsculas*/
  text-transform: lowercase;/*minusculas*/
  text-transform: capitalize;/*poner en mayúscula la primera letra de cada palabra:*/
}

.espaciado_texto {
  text-indent: 50px;/*sangria*/
  letter-spacing: 5px;/*espacio entre letras*/
  line-height: 1.8;/*altura de linea*/
  word-spacing: 10px;/*espaciado entre palabras*/
  white-space: nowrap;/*espacio en blanco*/
}

.sombra_texto {
  text-shadow: 2px 2px;
  text-shadow: 2px 2px red;
}

.fuentes {
  font-family: Arial, Helvetica, sans-serif;/*
  Generic Font Family	    Examples of Font Names
  Serif	                  Times New Roman
                          Georgia
                          Garamond

  Sans-serif	            Arial
                          Verdana
                          Helvetica

  Monospace	              Courier New
                          Lucida Console
                          Monaco

  Cursive	                Brush Script MT
                          Lucida Handwriting

  Fantasy	                Copperplate
                          Papyrus
                          */
}
/*fuentes seguras:
Arial (sin serifa)
Verdana (sin serifa)
Tahoma (sin serifa)
Trebuchet MS (sans-serif)
Times New Roman (serif)
Georgia (serif)
Garamond (serif)
Courier New (monoespacio)
Brush Script MT (cursiva)*/

.estilo_fuente {
  font-style: normal;/*El texto se muestra normalmente*/
  font-style: italic;/*El texto se muestra en cursiva*/
  font-style: oblique;/*el texto está "inclinado" (el oblicuo es muy similar a la cursiva, pero se admite con menos frecuencia)*/
}

.peso_fuente {
  font-weight: normal;
  font-weight: bold;
}

.variante_fuente {/*propiedad especifica si un texto debe mostrarse o no en una fuente de mayúsculas pequeñas.*/
  font-variant: normal;
  font-variant: small-caps;
}

.tamaño_fuente {
  font-size: 30px;/*puede ser en "em", %*/
  font-size:10vw/*tamaño de fuente adaptable a la ventana del navegador*/
}

.abreviar_fuente {
  font: 20px Arial, sans-serif;/*
  font-style
  font-variant
  font-weight
  font-size/line-height(obligatorio)
  font-family(obligatorio)*/
}

/* unvisited link */
a:link {
  color: red;
}

/* visited link */
a:visited {
  color: green;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: blue;
}

/*Este ejemplo demuestra un ejemplo más avanzado donde combinamos varias propiedades CSS para mostrar enlaces como cuadros/botones:*/
.boton:link, a:visited {
  background-color: #f44336;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.boton:hover, a:active {
  background-color: red;
}

/*Este ejemplo demuestra los diferentes tipos de cursores (puede ser útil para enlaces):
<span style="cursor: auto">auto</span><br>
<span style="cursor: crosshair">crosshair</span><br>
<span style="cursor: default">default</span><br>
<span style="cursor: e-resize">e-resize</span><br>
<span style="cursor: help">help</span><br>
<span style="cursor: move">move</span><br>
<span style="cursor: n-resize">n-resize</span><br>
<span style="cursor: ne-resize">ne-resize</span><br>
<span style="cursor: nw-resize">nw-resize</span><br>
<span style="cursor: pointer">pointer</span><br>
<span style="cursor: progress">progress</span><br>
<span style="cursor: s-resize">s-resize</span><br>
<span style="cursor: se-resize">se-resize</span><br>
<span style="cursor: sw-resize">sw-resize</span><br>
<span style="cursor: text">text</span><br>
<span style="cursor: w-resize">w-resize</span><br>
<span style="cursor: wait">wait</span>*/

/*propiedad especifica el tipo de marcador de elemento de lista*/
.estilo_listas {
  list-style-type: circle;
  list-style-type: square;
  list-style-type: upper-roman;
  list-style-type: lower-alpha;
}

/*marcador de lista con imagen*/
.marcador_imagen {
  list-style-image: url('');
}

.posicion_marcadores_lista {
  list-style-position: outside;/*veñetas estaran afuera*/
  list-style-position: inside;/*viñetas estaran adentro*/
}

/*eliminar marcadores de lista*/
.eliminar_marcador { 
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.lista_abreviada {
  list-style: square inside url("");
}

table, th, td {
  border: 1px solid;/*borde de tabla*/
  width: 100%;/*ancho*/
  border-collapse: collapse;/*contraer bordes*/
  height: 70px;/*alto*/
  width: 50%;/*ocupa solo la mitad de la ventana*/
  text-align: left;/*texto alineado a la izquierda*/
}
/*alineacion verticalpara el contenido de la tabla*/
td {
  height: 50px;
  vertical-align: bottom;
}

/*Para controlar el espacio entre el borde y el contenido de una tabla, utilice la padding*/
th, td {
  padding: 15px;
  text-align: left;
}

/*Agregue la border-bottompropiedad a <th> y <td> para divisores horizontales*/
th, td {
  border-bottom: 1px solid #ddd;
}
tr:hover {background-color: coral;}/*resaltar las filas de la tabla al pasar el mouse sobre ellas*/
tr:nth-child(even) {background-color: #f2f2f2;}/*Para las tablas con rayas de cebra, use el nth-child()selector y agregue un background-colora todas las filas de la tabla pares (o impares):*/
/*tabla adaptable agregue un elemento contenedor (como <div>) overflow-x:auto alrededor del elemento <table>*/

.posicion {
  position: static;/*se posiciona de acuerdo con el flujo normal de la página*/
  position: relative;/*se posiciona en relación a su posición normal.*/
  position: fixed;/*se posiciona con respecto a la ventana gráfica, lo que significa que permanece en la misma posición incluso al desplazarse por la página*/
  position: absolute;/*se posiciona en relación con el ancestro posicionado más cercano (en lugar de estar posicionado en relación con la ventana gráfica, como fijo).
  Sin embargo; si un elemento posicionado absolutamente no tiene antecesores posicionados, utiliza el cuerpo del documento y se mueve junto con el desplazamiento de la página.*/
}