/*tabla en paralelo con css*/

* {
  box-sizing: border-box;
}

/* Create a two-column layout */
.column {
  float: left;
  width: 50%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.colores {
  color: red;/*color por nombre*/
  color: rgb(255, 224, 0); /*color por RGB*/
  color: rgba(255, 99, 71, 0); /*rgba( rojo, verde , azul, alfa )*/
  color: #ff6347;/*hexadecimal es en formato #rrggbb y si se repite el digito se puede acortar en #rgb*/
  color: hsl(0, 100%, 50%);/*hsl( tono , saturación , luminosidad )*/
  color: hsla(0, 100%, 50%, 0.5);/*hsla( tono, saturación , luminosidad, alfa )*/
}

.fondos {
  background-color:lightblue;/*color de fondo*/
  opacity: 0.3;/*opacidad/transparencia*/
  background-image: url("");/*propiedad especifica una imagen para usar como fondo de un elemento*/
  background-repeat: repeat-x;/*Si la imagen de arriba se repite sólo horizontalmente (repeat-y para vertical)*/
}
/*la imagen de fondo en la esquina superior derecha*/
.imagen {
  background-image: url("");
  background-repeat: no-repeat;
  background-position: right top;
}

/*la imagen de fondo debe ser fija*/
.imagen_fija {
  background-image: url("");
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: fixed;
}

/*la imagen de fondo debe desplazarse con el resto de la página*/
.image_desplaza {
  background-image: url("");
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: scroll;
}
/*en vez de escribir del modo tradicional se puede acortar codigo asi
body {
  background-color: #ffffff;
  background-image: url("");
  background-repeat: no-repeat;
  background-position: right top;
}*/
.reducir_codigo {
  background: #ffffff url("") no-repeat right top;
}

.bordes {
  p.dotted {border-style: dotted;} /*Define un borde punteado*/
  p.dashed {border-style: dashed;} /*Define un borde discontinuo*/
  p.solid {border-style: solid;} /*Define un borde sólido*/
  p.double {border-style: double;} /*Define un borde doble*/
  p.groove {border-style: groove;} /*Define un borde ranurado 3D. El efecto depende del valor del color del borde.*/
  p.ridge {border-style: ridge;} /*Define un borde estriado 3D. El efecto depende del valor del color del borde.*/
  p.inset {border-style: inset;} /*Define un borde 3D insertado. El efecto depende del valor del color del borde.*/
  p.outset {border-style: outset;} /*Define un borde inicial 3D. El efecto depende del valor del color del borde.*/
  p.none {border-style: none;} /*No define ninguna frontera*/
  p.hidden {border-style: hidden;} /*Define un borde oculto*/
  p.mix {border-style: dotted dashed solid double;}/*borde doble y solido*/
}

.ancho_borde1 {
  border-style: solid;
  border-width: 5px;
}

.ancho_borde2 {
  border-style: solid;
  border-width: medium;
}

.ancho_borde3 {
  border-style: dotted;
  border-width: 2px;
}

.ancho_borde4 {
  border-style: dotted;
  border-width: thick;
}

.bordes_laterales1 {
  border-style: solid;
  border-width: 5px 20px; /* 5px top and bottom, 20px on the sides */
}

.bordes_laterales2 {
  border-style: solid;
  border-width: 20px 5px; /* 20px top and bottom, 5px on the sides */
}

.bordes_laterales3 {
  border-style: solid;
  border-width: 25px 10px 4px 35px; /* 25px top, 10px right, 4px bottom and 35px left */
}

.borde_color {
  border-style: solid;
  border-color: red green blue yellow; /* red top, green right, blue bottom and yellow left */
}

.borde_abreviado {
  border: 5px solid red;
}

.borde_redondeado {
  border: 2px solid red;
  border-radius: 5px;
}

.margen_abreviado {
  margin: 25px 50px 75px 100px;/*top, right, left, down*/
  /*tambien se puede usar "margin:auto" y el "margin-bottom*/
}

.relleno {
  padding: 25px 50px 75px 100px;/*top, right, left, down*/
  /*puede ser longitud : especifica un relleno en px, pt, cm, etc.
    % - especifica un relleno en % del ancho del elemento contenedor
    heredar: especifica que el relleno debe heredarse del elemento padre*/
  width: 300px;/*ancho del elemento*/
  box-sizing: border-box;/*para mantener el ancho del elemento*/
  height: 300px/*altura del elemento*/
}

.alto_ancho {
  height: 200px;
  width: 50%;
  background-color: powderblue;
}
/*valores alto-ancho:
auto- Este es el valor predeterminado. El navegador calcula la altura y el ancho.
length- Define la altura/ancho en px, cm, etc.
%- Define la altura/ancho en porcentaje del bloque contenedor.
initial- Establece la altura/ancho a su valor predeterminado
inherit- La altura/ancho se heredará de su valor padre.*/

div {
  width: 300px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
}
/*Contenido : El contenido del cuadro, donde aparecen el texto y las imágenes.
Relleno : Limpia un área alrededor del contenido. El relleno es transparente.
Borde : un borde que rodea el relleno y el contenido.
Margen : Limpia un área fuera del borde. El margen es transparente.*/

.estilo_esquema {
  p.dotted {outline-style: dotted;}/*Define un contorno punteado*/
  p.dashed {outline-style: dashed;}/*Define un contorno discontinuo*/
  p.solid {outline-style: solid;} /*Define un contorno sólido*/
  p.double {outline-style: double;}/*Define un contorno doble*/
  p.groove {outline-style: groove;}/*Define un contorno ranurado en 3D*/
  p.ridge {outline-style: ridge;} /*Define un contorno estriado en 3D*/
  p.inset {outline-style: inset;} /*Define un contorno de inserción 3D*/
  p.outset {outline-style: outset;} /*Define un contorno de inicio en 3D*/
  /*none- No define ningún contorno
  hidden- Define un contorno oculto*/
}

/*Ancho del contorno
thin (typically 1px)
medium (typically 3px)
thick (typically 5px)
Un tamaño específico (in px, pt, cm, em, etc)*/

/*La outline-offset propiedad añade espacio entre el contorno y el borde de un elemento. El espacio entre un elemento y su contorno es transparente.*/
