/*Hemos diseñado el botón desplegable con un color de fondo, relleno, efecto de desplazamiento, etc.
La .dropdownclase usa position:relative, lo cual es necesario cuando queremos que el contenido del menú desplegable se coloque justo debajo del botón desplegable (usando position:absolute).
La .dropdown-contentclase contiene el menú desplegable. Está oculto por defecto y se mostrará al pasar el cursor (ver más abajo). Ten en cuenta que min-widthestá configurado en 230 px. Puedes cambiarlo. Consejo: Si quieres que el ancho del contenido del menú desplegable sea igual al del botón desplegable, configura el widthal 100 % (y overflow:autopara habilitar el desplazamiento en pantallas pequeñas).
El campo de búsqueda (#myInput) está diseñado para encajar dentro del menú desplegable. Hemos añadido un icono de búsqueda, ubicado a la izquierda dentro del campo, para indicar que se trata de un campo de búsqueda.*/

/* Dropdown Button */
.dropbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #3e8e41;
}

/* The search field */
#myInput {
  box-sizing: border-box;
  background-image: url('searchicon.png');
  background-position: 14px 12px;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 14px 20px 12px 45px;
  border: none;
  border-bottom: 1px solid #ddd;
}

/* The search field when it gets focus/clicked on */
#myInput:focus {outline: 3px solid #ddd;}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f6f6f6;
  min-width: 230px;
  border: 1px solid #ddd;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}